<ag-grid-angular
  class="dm-theme"
  style="width: 100%; height: 400px;"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowStyle]="rowStyle"
  [gridOptions]="gridOptions"
  [rowSelection]="rowSelection"
  [rowDragManaged]="true"
  (gridReady)="onGridReady($event)"
  (columnResized)="onColumnResized($event)"
>
</ag-grid-angular>

<button (click)="onClearButtonClick()">Clear all data from grid</button><br>
<button (click)="onGetAllColumns()">Get all columns</button><br>
<button (click)="toggleTheFirstColumn()">Show only first column</button><br>
<button (click)="onBtnHide()">Hide some columns</button>
<button (click)="onBtnShow()">Show some columns</button><br>
<button (click)="onAddColumn()">Add column</button><br>
